.blue-btn {
    background: #324157;
  }
  
  .blue-btn:hover {
    color: #324157;
  }
  
  .blue-btn:hover:before, .blue-btn:hover:after {
    background: #324157;
  }
  
  .light-blue-btn {
    background: #3A71A8;
  }
  
  .light-blue-btn:hover {
    color: #3A71A8;
  }
  
  .light-blue-btn:hover:before, .light-blue-btn:hover:after {
    background: #3A71A8;
  }
  
  .red-btn {
    background: #C03639;
  }
  
  .red-btn:hover {
    color: #C03639;
  }
  
  .red-btn:hover:before, .red-btn:hover:after {
    background: #C03639;
  }
  
  .pink-btn {
    background: #E65D6E;
  }
  
  .pink-btn:hover {
    color: #E65D6E;
  }
  
  .pink-btn:hover:before, .pink-btn:hover:after {
    background: #E65D6E;
  }
  
  .green-btn {
    background: #30B08F;
  }
  
  .green-btn:hover {
    color: #30B08F;
  }
  
  .green-btn:hover:before, .green-btn:hover:after {
    background: #30B08F;
  }
  
  .tiffany-btn {
    background: #4AB7BD;
  }
  
  .tiffany-btn:hover {
    color: #4AB7BD;
  }
  
  .tiffany-btn:hover:before, .tiffany-btn:hover:after {
    background: #4AB7BD;
  }
  
  .yellow-btn {
    background: #FEC171;
  }
  
  .yellow-btn:hover {
    color: #FEC171;
  }
  
  .yellow-btn:hover:before, .yellow-btn:hover:after {
    background: #FEC171;
  }
  
  .pan-btn {
    font-size: 14px;
    color: #fff;
    padding: 14px 36px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-right: 25px;
    transition: 600ms ease all;
    position: relative;
    display: inline-block;
  }
  
  .pan-btn:hover {
    background: #fff;
  }
  
  .pan-btn:hover:before, .pan-btn:hover:after {
    width: 100%;
    transition: 600ms ease all;
  }
  
  .pan-btn:before, .pan-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }
  
  .pan-btn::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  
  .custom-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    color: #fff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .block-checkbox {
    display: block;
  }
  
  .operation-container .cell {
    padding: 10px !important;
  }
  
  .operation-container .el-button:nth-child(3) {
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .operation-container .el-button:nth-child(4) {
    margin-top: 10px;
  }
  
  .el-upload input[type="file"] {
    display: none !important;
  }
  
  .el-upload__input {
    display: none;
  }
  
  .cell .el-tag {
    margin-right: 8px;
  }
  
  .small-padding .cell {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .status-col .cell {
    padding: 0 10px;
    text-align: center;
  }
  
  .status-col .cell .el-tag {
    margin-right: 0px;
  }
  
  .el-dialog {
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
  }
  
  .article-textarea textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
  
  .upload-container .el-upload {
    width: 100%;
  }
  
  .upload-container .el-upload .el-upload-dragger {
    width: 100%;
    height: 200px;
  }
  
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  }
  
  label {
    font-weight: 700;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .no-padding {
    padding: 0px !important;
  }
  
  .padding-content {
    padding: 4px 0;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  a,
  a:focus,
  a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }
  
  .fr {
    float: right;
  }
  
  .fl {
    float: left;
  }
  
  .pr-5 {
    padding-right: 5px;
  }
  
  .pl-5 {
    padding-left: 5px;
  }
  
  .block {
    display: block;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .inlineBlock {
    display: block;
  }
  
  code {
    background: #eef1f6;
    padding: 15px 10px;
    margin-bottom: 20px;
    display: block;
    line-height: 36px;
  }
  
  code a {
    color: #337ab7;
    cursor: pointer;
  }
  
  code a:hover {
    color: #20a0ff;
  }
  
  .fade-enter-active,
  .fade-leave-active {
    transition: all .2s ease;
  }
  
  .fade-enter,
  .fade-leave-active {
    opacity: 0;
  }
  
  .app-container {
    padding: 20px;
  }
  
  .app-container .formStyle {
    width: 400px;
    margin-left: 50px;
  }
  
  .components-container {
    margin: 30px 50px;
    position: relative;
  }
  
  .pagination-container {
    margin-top: 30px;
    float: right;
  }
  
  .editor-container .CodeMirror {
    height: 100% !important;
  }
  
  .text-center {
    text-align: center;
  }
  
  .svg-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  
  .sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, #20b6f9 0%, #20b6f9 0%, #2178f1 100%, #2178f1 100%);
  }
  
  .sub-navbar .subtitle {
    font-size: 20px;
    color: #fff;
  }
  
  .sub-navbar.draft {
    background: #d0d0d0;
  }
  
  .sub-navbar.deleted {
    background: #d0d0d0;
  }
  
  .link-type,
  .link-type:focus {
    color: #337ab7;
    cursor: pointer;
  }
  
  .link-type:hover,
  .link-type:focus:hover {
    color: #20a0ff;
  }
  
  .publishedTag,
  .draftTag,
  .deletedTag {
    color: #fff;
    background-color: #30B08F;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    top: 10px;
  }
  
  .draftTag {
    background-color: #FEC171;
  }
  
  .deletedTag {
    background-color: #C03639;
  }
  
  .input-label {
    font-size: 14px;
    color: #48576a;
    line-height: 1;
    padding: 11px 5px 11px 0;
  }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  
  .no-marginLeft .el-checkbox {
    margin: 0 20px 15px 0;
  }
  
  .no-marginLeft .el-checkbox + .el-checkbox {
    margin-left: 0px;
  }
  
  .filter-container {
    padding-bottom: 10px;
  }
  
  .filter-container .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  
  .filter-container .input1 {
    width: 50px;
  }
  
  .filter-container .input2 {
    width: 80px;
  }
  
  .filter-container .input3 {
    width: 100px;
  }
  
  .filter-container .input4 {
    width: 150px;
  }
  
  .filter-container .input5 {
    width: 180px;
  }
  
  .filter-container .input6 {
    width: 200px;
  }
  
  .filter-container span {
    margin-left: 20px;
  }
  
  .filter-container button {
    margin-left: 20px;
  }
  
  .filter-container select {
    width: 150px;
  }
  
  .filter-container img {
    margin-right: 20px;
    vertical-align: middle;
  }
  
  .multiselect {
    line-height: 16px;
  }
  
  .multiselect--active {
    z-index: 1000 !important;
  }
  
  .simplemde-container .editor-toolbar.fullscreen,
  .simplemde-container .CodeMirror-fullscreen {
    z-index: 1003;
  }
  
  .el-dialog {
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
  }
  
  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  
  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
  
  @media (max-width: 500px) {
    .github-corner:hover .octo-arm {
      animation: none;
    }
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
  


  .view-contain{
      background-color: #2178f1
  }